extends ./layout.jade
block variables
	- var page = 'article';
	- var page_id = 1;
block content
	+header-article
	.page-content
		.page-content-inner
			.content._article-page
				+breadcrumbs
				+article-content
				.share-advice
					.share-advice__title Не забудь поделиться советом с подругами.
					+social
				+comments
			.right-sidebar._article-page
				.right-sidebar__title Рекомендуем
				.one-column._silver
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
				+widget._vkontakte
		.page-content-similar-articles
			.page-content-similar-articles__title Похожие статьи
			.three-columns
				+article-block('294x192', false)
				+article-block('294x192', false)
				+article-block('294x192', false)
				+article-block('294x192', false)
				+article-block('294x192', false)
				+article-block('294x192', false)
		.page-content-show-more
			.page-content-show-more__button.button Показать еще статьи

