extends ./layout.jade
block variables
	- var page = 'catalog2';
block content
	.page-content
		.main-title._middle-title Течение беременности
		.two-columns._first
			.two-columns__left
				+article-block('435x283',false)._large._purple
			.two-columns__right
				+article-block-second('175x115')
				+article-block-second('175x115')
				+article-block-second('175x115')._last
		.page-content__inner
			.content
				.one-column
					+article-block-second('235x154')._full-width
					+article-block-second('235x154')._full-width
					+article-block-second('235x154')._full-width
					+article-block-second('235x154')._full-width
					+article-block-second('235x154')._full-width
					+article-block-second('235x154')._full-width._last
				.button__wrapper
					.button._purple._big._purple-text Показать еще статьи
			.right-sidebar
				.one-column._silver
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
					+article-block-third('89x66')
				+widget._vkontakte

