extends ./layout.jade
block variables
	- var page = 'catalog';
	- var page_id = 2;
block content
	.page-content
		h1.page-content__heading Течение беременности
		.three-columns
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
		.three-columns
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
		.page-content-show-more
			.page-content-show-more__button.button Показать еще статьи
