extends ./layout.jade

block content
	+list-sub-categories
	.page-content
		.main-title._middle-title Течение беременности
		.three-columns
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
		.three-columns
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
		.button__wrapper
			.button._purple._big._purple-text Показать еще статьи
