extends ./layout.jade
block variables
	- var page = 'catalog';
	- var page_id = 2;
block content
	.page-content
		.main-title._middle-title Течение беременности
		.three-columns
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
			+article-block('294x192',false)
		.three-columns
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
			+article-block-second('175x115')
		.button__wrapper
			.button._purple._big._purple-text Показать еще статьи
