extends ./layout.jade

block content
	.page-content
		.main-title._middle-title._text-center._purple Полезные статьи для мамочек
		.three-columns
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
		.two-columns.first
			.two-columns__left
				+article-block('435x283')._large._purple
			.two-columns__right
				+article-block-second('175x115')
				+article-block-second('175x115')
				+article-block-second('175x115')
		.three-columns
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
		.two-columns
			+article-block('435x283')._large._purple
			+article-block('435x283')._large._silver
		.three-columns
			+article-block('294x192')
			+article-block('294x192')
			+article-block('294x192')
		.button__wrapper
			.button._purple._big Показать еще статьи
			