extends ./layout.jade
block variables
	- var page = 'default';
block content
	.page-content
		h1.main-title._middle-title._text-center._purple Полезные статьи для мамочек
		.three-columns
			+article-block('294x192', true)
			+article-block('294x192', true)
			+article-block('294x192', true)
		.two-columns._first
			.two-columns__left
				+article-block('435x283',true)._large._purple
			.two-columns__right
				+article-block-second('175x115')
				+article-block-second('175x115')
				+article-block-second('175x115')._last
		.three-columns
			+article-block('294x192', true)
			+article-block('294x192', true)
			+article-block('294x192', true)
			+article-block('294x192', true)
			+article-block('294x192', true)
			+article-block('294x192', true)
		.two-columns
			+article-block('435x283',true)._large._purple
			+article-block('435x283',true)._large._silver
		.three-columns
			+article-block('294x192', true)
			+article-block('294x192', true)
			+article-block('294x192', true)
		.page-content-show-more
			.button._purple._big._purple-text Показать еще статьи
