// Common styles of the project
html, body {
    height: 100%;
}
body {
	font-size: $default-font-size;
	font-family: 'roboto_condensed';
	color: $black;
	background-color: #fbf6f6;
}
input, textarea {
    outline: none;
    border: none;
}
ul li {
	list-style: none;
}
.main {
	max-width: 1000px;
	width: 100%;
	margin: auto;
	padding: 0 20px;
	box-sizing: border-box;
	background-color: $white;
}
.page-content {
	padding: 29px 0 50px 0;
}

.two-columns {
	/* margin-bottom: 51px; */
	display: flex;
	justify-content: space-between;
	margin-bottom: 47px;
	&.first {
		justify-content: flex-start;
	}
	&__right {
		margin-left: 29px;
	}	
}
.three-columns {
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-between;	
}
.one-column {
	margin-bottom: 98px;
	&._silver {
		padding: 11px 8px 19px 11px;
		background-color: #f6f6f6;
		margin-bottom: 63px;
	}
}
.content-sidebar__wrapper {
	display: flex;
	justify-content: space-between;
	.content {
		max-width: 635px;
		width: 100%;
	}
	.right-sidebar {
		max-width: 300px;
		width: 100%;
	}
	.disqus-title {
		font-size: 20px;	
		color: $light-purple;
		text-transform: uppercase;
		font-weight: bold;
	}
}
.share-advice {
	padding: 23px 40px 23px 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px dashed #d4d4d4;
	margin-bottom: 60px;
	&__title {
		font-size: 15px;
		font-family: 'merriweather';
	}
}
