// Common styles of the project
html,
body {
	height: 100%;
}
body {
	color: $black;
	background-color: #fbf6f6;

	font-family: $default-font;
	font-size: $default-font-size;
}
input,
textarea {
	border: none;
	outline: none;
}
ul li, ol li {
	list-style: none;
}
.main {
	box-sizing: border-box;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 0 20px;

	background-color: $white;
	@media screen and(max-width: 960px) {
		padding: 0 10px;
	}
}
.page-content {
	padding-top: 29px;
	padding-bottom: 50px;
	@media screen and(max-width: 480px) {
		padding-top: 20px;
		padding-bottom: 25px;
	}
	&__heading {
		@extend .main-title;
		@extend ._middle-title;
	}
}
.page-content-similar-articles {
	&__title {
		@extend .main-title;
		@extend ._middle-title;
		@extend ._text-center;
	}
}
.page-content-show-more
{
    text-align: center;
    @media screen and(max-width: 480px)
    {
        margin-bottom: 20px;
    }
    &__button {
    	@extend ._purple;
    	@extend ._big;
    }
}
.two-columns {
	display: flex;

	margin-bottom: 47px;

	justify-content: space-between;
	@media screen and(max-width: 960px) {
		margin-bottom: 15px;
	}	
	@media screen and(max-width: 480px) {
		display: block;

		margin-bottom: 18px;
	}
	&._first {
		justify-content: flex-start;
		@media screen and(max-width: 960px) {
			display: flex;

			margin-bottom: 15px;
		}
		@media screen and(max-width: 480px) {
			display: block;
		}
	}
	&__left {
		@media screen and(max-width: 760px) {
			width: 50%;
			margin-bottom: 10px;
		}
		@media screen and(max-width: 480px) {
			width: auto;
		}
	}
	&__right {
		margin-left: 29px;
		@media screen and(max-width: 760px) {
			width: 50%;
			margin-left: 10px;
		}
		@media screen and(max-width: 480px) {
			width: auto;
			margin-left: 0;
		}
	}
}
.three-columns {
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
	@media screen and(max-width: 960px) {
		margin-bottom: 15px;
	}	
	@media screen and(max-width: 480px) {
		margin-bottom: 18px;
	}
}
.one-column {
	margin-bottom: 98px;
	@media screen and(max-width: 760px) {
		margin-bottom: 20px;
	}
	&._silver {
		margin-bottom: 63px;
		padding: 11px 8px 19px 11px;

		background-color: #f6f6f6;
		@media screen and(max-width: 760px) {
			margin-bottom: 20px;
		}
	}
}
.page-content-inner {
	display: flex;

	justify-content: space-between;
	@media screen and(max-width: 480px) {
		display: block;
	}
	.content {
		width: 100%;
		max-width: 635px;
		@media screen and(max-width: 960px) {
			width: 50%;
		}
		@media screen and(max-width: 480px) {
			width: auto;
		}
		&._article-page {
			@media screen and(max-width: 960px) {
				width: 100%;
			}
		}
		&._catalog2-page {
			@media screen and(max-width: 960px) {
				width: 100%;
			}
		}
	}
	.right-sidebar {
		width: 100%;
		max-width: 300px;
		@media screen and(max-width: 960px) {
			display: none;
		}
		&__title {
			margin-bottom: 14px;
			@extend .main-title;
			@extend ._middle-title;
		}
		&._article-page {
			margin-top: 47px;
		}		
	}
}
.share-advice {
	display: flex;

	margin-bottom: 60px;
	padding: 23px 40px 23px 17px;

	border: 1px dashed #d4d4d4;

	align-items: center;
	justify-content: space-between;
	@media screen and(max-width: 480px) {
		display: block;
	}
	&__title {
		font-family: "merriweather";
		font-size: 15px;
		@media screen and(max-width: 480px) {
			text-align: center;
		}
	}
}
.overlay {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: none;

	width: 100%;
	height: 100%;

	background-color: transparent;
}
