/* Your custom fonts here */
@font-face {
    font-family: 'merriweather';
    src: url('../fonts/merriweather-regular-webfont.eot');
    src: url('../fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-regular-webfont.woff') format('woff'),
         url('../fonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensed';
    src: url('../fonts/robotocondensed-webfont.eot');
    src: url('../fonts/robotocondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensed';
    src: url('../fonts/robotocondenseditalic-webfont.eot');
    src: url('../fonts/robotocondenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondenseditalic-webfont.woff2') format('woff2'),
         url('../fonts/robotocondenseditalic-webfont.woff') format('woff'),
         url('../fonts/robotocondenseditalic-webfont.ttf') format('truetype'),
         url('../fonts/robotocondenseditalic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'roboto_condensed';
    src: url('../fonts/robotocondensed-bold-webfont.eot');
    src: url('../fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-bold-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: bold;
    font-style: normal;
}