// File for scss-vars.
// For example: main colors, paddings and so on.

// fonts
$default-font-size: 16px;

// colors
$light-black: #333;
$black: #000;
$white: #fff;

$light-silver: #999;
$dark-silver: #666;

$light-purple: #d95788;
$dark-purple: #c03468;
