mixin footer(data)
	footer.footer
		.footer__wrapper
			a(href="#" title="").footer__logo Mosmama.ru
			.footer-group
				+menu(['О нас', 'Контакты', 'Реклама'])._footer
				.footer-group__copyrights © 2006-2012 MosMama.ru ВСЕ ПРАВА ЗАЩИЩЕНЫ.
			.footer-social
				a(href="#" title="").footer-social__item._v1
				a(href="#" title="").footer-social__item._v2
				a(href="#" title="").footer-social__item._v3