.comments
{
    margin-bottom: 46px;
    @media screen and(max-width: 960px)
    {
        margin-bottom: 15px;
    }
    &__title {
        text-transform: uppercase;

        color: $light-purple;

        font-size: 20px;
        font-weight: bold;
    }
    img
    {
        width: 100%;
        height: auto;
    }
}
