.header {
	&__wrapper {
		@extend .main;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 19px 20px 14px 20px;
		background-color: $white;
		border-bottom: 1px solid #eee;
		position: relative;
		@media screen and(max-width: 760px) {
			padding: 8px 10px;
		}
	}
	&__logo {
		@include bg($header-logo);
		@media screen and(max-width: 760px) {
			order: 2;
			margin: auto;
		}
	}
	&-search {
		margin-left: 28px;
		order: 3;
		&__mobile {
			display: none;
		}
		&__wrapper {
			.input-form {
				border: 1px solid #e4e3e3;
				background-color: #f7f6f6;
				border-radius: 16px;
				padding-left: 14px;
				font-style: italic;
				font-size: 18px;
				color: $dark-silver;
				height: 31px;
				width: 395px;
				display: none;
				box-sizing: border-box;
				position: absolute;
				right: 0;
			}
			&._active {
				.input-form {
					right: 0;
					position: absolute;
					@media screen and(max-width: 760px) {
						top: 36px;
					}
					@media screen and(max-width: 516px) {
						width: 303px;
						right: 0;
					}
					top: 36px;
				}
			}
		}
		&__form {
			&-inner {
				position: relative;
				right: -37px;
    			top: -17px;
    			@media screen and(max-width: 516px)  {
    				right: 0;
    			}
			}
		}
		&__icon {
			background-color: #efeeee;
			border-radius: 50%;
			@include bg($search-icon);
			cursor: pointer;
			position: absolute;
	    	right: 6px;
			top: 3px;
		}
	}
}