.header {
	&__wrapper {
		@extend .main;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 19px 20px 14px 20px;
		background-color: $white;
		border-bottom: 1px solid #eee;
		position: relative;
		@media screen and(max-width: 960px) {
			padding: 8px 10px;
		}
	}
	&__logo {
		@include bg($header-logo);
		text-indent: -9999px;
		@media screen and(max-width: 960px) {
			order: 2;
			margin: auto;
		}
	}
}
.header-search {
	margin-left: 28px;
	order: 3;
	@media screen and(max-width: 960px) {
		margin-left: 0;
	}
	&__mobile {
		display: none;
	}
	&__wrapper {
		.input-form {
			border: 1px solid #e4e3e3;
			box-shadow: 0 1px 1px rgba($black,.31) inset;
			background-color: #f7f6f6;
			border-radius: 16px;
			padding-left: 14px;
			font-style: italic;
			color: $dark-silver;
			height: 40px;
			width: 395px;
			display: none;
			box-sizing: border-box;
			position: absolute;
			right: 0;
			top: 31px;
		}
		&._active {
			.input-form {
				top: 31px;
				right: 14px;
				position: absolute;
				z-index: 1000;
				@media screen and(max-width: 960px) {
					top: 19px;
					right: 0;
				}
				@media screen and(max-width: 516px) {
					width: 303px;
					right: 0;
				}
			}
		}
	}
	&__form {
		form {
			@media screen and(max-width: 960px)  {
				right: 0;
			}
		}
	}
	&__icon-submit {
		background-color: #efeeee;
		border-radius: 50%;
		@include bg($search-icon);
		cursor: pointer;
		position: absolute;
    	right: 14px;
		top: 36px;
		z-index: 1001;
		@media screen and(max-width: 1200px) {
			right: 21px;
		}
		@media screen and(max-width: 960px) {
			top: 24px;
			right: 0;
		}
	}
	&__icon {
		@extend .header-search__icon-submit;
		z-index: 1002;
	}
}