mixin list-sub-categories(data)
	.list-sub-categories
		.list-sub-categories__wrapper
			.list-sub-categories__mobile Подкатегории
			.list-sub-categories__list
				.list-sub-categories__item
					a(href="#" title="") Подготовка
				.list-sub-categories__item
					a(href="#" title="") Заболевания
				.list-sub-categories__item._active
					a(href="#" title="") Течение беременности 
				.list-sub-categories__item
					a(href="#" title="") Роды									
				.list-sub-categories__item
					a(href="#" title="") Восстановление
				.list-sub-categories__item
					a(href="#" title="") Дети
				.list-sub-categories__item
					a(href="#" title="") Новорожденные
				.list-sub-categories__item
					a(href="#" title="") Здоровье ребенка 

