.list-sub-categories {
    @media screen and(max-width: 960px) {
        border-bottom: 1px solid $light-silver;
    }
    &__wrapper {
        background-color: #f6f6f6;

        @extend .main;
        @media screen and(max-width: 960px) {
            position: relative;
        }
    }
    &__mobile {
        display: none;
        @media screen and(max-width: 960px) {
            display: block;
            text-align: center;
            padding: 8px 0;

            font-family: "merriweather";
            font-style: italic;
        }
    }
    &__list {
        display: flex;

        align-items: center;
        justify-content: center;
        @media screen and(max-width: 960px) {
            position: absolute;
            z-index: 99;
            top: 39px;
            left: 0;

            display: none;

            width: 100%;

            background-color: #f6f6f6;
        }
    }
    &__item {
        margin-right: 41px;
        padding: 14px 0;
        @media screen and(max-width: 960px) {
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;

            text-align: center;

            border-bottom: 1px solid $light-silver;
        }
        &:last-child {
            margin-right: 0;
        }
        &._active {
            a {
                color: $light-purple;
                border-color: #f3c9d9;
            }
        }
        a {
            padding-bottom: 3px;

            text-decoration: none;

            color: #686868;
            border-bottom: 1px solid transparent;

            font-size: 14px;

            @include transition;
            @media screen and(max-width: 960px) {
                display: block;

                padding: 14px 0;
            }
            &:hover {
                color: $light-purple;
                border-color: #f3c9d9;
                @media screen and(max-width: 960px) {
                    border-color: transparent;
                }
            }
        }
    }
}
