mixin article-block-second(imagesize)
	.article-block-second
		.article-block-second__photo
			img(src="http://placehold.it/#{imagesize}")
		.article-block-second__content
			.article-block-second__category Беременность и роды	
			a(href="#" title="").article-block-second__title Рефлексы новорожденных
			.article-block-second__description.
				Быть мамой – это счастье и одновременно огромная ответственность. А если мама но...