.article-block-second
{
    display: flex;

    width: 447px;
    margin-bottom: 41px;

    justify-content: space-between;
    @media screen and(max-width: 960px)
    {
        width: auto;
        margin-bottom: 20px;
    }
    @media screen and(max-width: 516px)
    {
        display: block;

        width: 250px;
        margin: auto;
        margin-bottom: 10px;
    }
    &._last
    {
        margin-bottom: 0;
    }
    &__photo
    {
        img
        {
            @media screen and(max-width: 960px)
            {
                width: 100%;
                height: auto;
            }
        }
    }
    &__content
    {
        margin-left: 18px;
        @media screen and(max-width: 516px)
        {
            margin-left: 0;
        }
    }
    &__category
    {
        font-size: 12px;

        margin-bottom: 10px;

        text-transform: uppercase;

        color: $light-silver;
        @media screen and(max-width: 516px)
        {
            margin-bottom: 5px;
        }
    }
    &__title
    {
        font-family: 'merriweather';
        font-size: 17px;

        display: block;

        margin-bottom: 10px;

        text-decoration: none;

        color: $light-black;

        @include transition;
        &:hover
        {
            color: $dark-purple;
        }
        @media screen and(max-width: 516px)
        {
            margin-bottom: 5px;
        }
    }
    &__description
    {
        font-size: 15px;
        font-style: italic;

        color: $light-silver;
    }
    &._full-width
    {
        width: 100%;
        @media screen and(max-width: 516px)
        {
            width: 250px;
        }
    }
}
