.article-block {
    width: 294px;
    margin-bottom: 49px;
    @media screen and(max-width: 960px) {
        width: 29%;
        margin-bottom: 18px;
    }
    @media screen and(max-width: 760px) {
        width: 49%;
        margin-bottom: 10px;
    }
    @media screen and(max-width: 516px) {
        width: 250px;
        margin: 0 auto 10px;
    }
    &__category {
        position: absolute;
        top: 9px;
        right: 10px;

        padding: 7px 8px 4px;

        text-transform: uppercase;

        color: $light-silver;
        border: 1px solid #9d9d9d;
        background-color: $white;
        @media screen and(max-width: 760px) {
            font-size: 13px;
        }
    }
    &__photo {
        position: relative;

        margin-bottom: 8px;
        @media screen and(max-width: 516px) {
            margin-bottom: 3px;
        }
        img {
            @media screen and(max-width: 960px) {
                width: 100%;
                height: auto;
            }
        }
    }
    &__title {
        display: block;

        margin-bottom: 10px;

        text-decoration: none;

        color: $light-black;

        font-family: "merriweather";

        @include transition;
        @media screen and(max-width: 516px) {
            margin-bottom: 5px;
        }
        &:hover {
            color: $dark-purple;
        }
    }
    &__description {
        color: $light-silver;

        font-size: 15px;
        font-style: italic;
    }
    &._large {
        box-sizing: border-box;
        width: 462px;
        height: 435px;
        margin-bottom: 0;
        padding: 13px 0 20px;
        @media screen and(max-width: 960px) {
            width: auto;
            height: 100%;
        }
        @media screen and(max-width: 516px) {
            width: 250px;
            height: auto;
        }
        &._purple {
            background-color: #fbeef3;
        }
        &._silver {
            background-color: #eef3fb;
        }
        .article-block__inner {
            padding-right: 16px;
            padding-left: 13px;
        }
        .article-block__category {
            top: 12px;
            right: 6px;
        }
    }
}
