.article-content
{
    @media screen and(max-width: 960px) {
        width: 100%;
    }
    h1
    {
        font-family: 'merriweather';
        font-size: 31px;
        font-weight: bold;
        line-height: 47px;

        color: $light-purple;
        @media screen and(max-width: 960px)
        {
            font-size: 24px;
            line-height: 36px;
        }
        @media screen and(max-width: 760px)
        {
            font-size: 22px;
            line-height: 34px;
        }
    }
    h2
    {
        font-size: 20px;
        font-weight: 400;

        margin-bottom: 21px;

        color: $light-purple;
        @media screen and(max-width: 960px)
        {
            font-size: 22px;
            line-height: 38px;
        }
        @media screen and(max-width: 760px)
        {
            font-size: 20px;
            line-height: 36px;
        }
    }
    p
    {
        font-family: 'merriweather';
        font-size: 15px;
        line-height: 24px;

        margin-bottom: 24px;

        color: $light-black;
        @media screen and(max-width: 960px)
        {
            font-size: 19px;
            line-height: 28px;
        }
        @media screen and(max-width: 760px)
        {
            font-size: 17px;
            line-height: 26px;
        }
    }
    img
    {
        @media screen and(max-width: 960px)
        {
            width: 100%;
            height: auto;
        }
    }
    blockquote
    {
        font-family: 'merriweather';
        font-style: italic;

        position: relative;

        margin-top: 16px;
        margin-bottom: 29px;
        padding: 26px 50px 20px;

        color: #6f9ec0;
        background-color: #eef3fb;
        &:before
        {
            position: absolute;
            top: 25px;
            left: 18px;

            content: '';

            @include bg($double-arrow);
        }
    }
    ul,
    ol
    {
        padding: 0;
        li
        {
            font-family: 'merriweather';
            font-size: 15px;
            line-height: 24px;

            position: relative;

            margin-bottom: 30px;
            @media screen and(max-width: 960px)
            {
                font-size: 19px;
                line-height: 28px;
            }
            @media screen and(max-width: 760px)
            {
                font-size: 17px;
                line-height: 26px;
            }
            &:before
            {
                position: absolute;
                top: 4px;
                left: 0;
            }
        }
    }
    ul
    {
        li
        {
            padding-left: 40px;
            &:before
            {
                content: '';

                @include bg($blue-arrow);
            }
        }
    }
    ol
    {
        counter-reset: point; /* задаем переменную для счетчика */
        li
        {
            padding-left: 45px;
            &:last-child
            {
                margin-bottom: 0;
            }
            &:before
            {
                line-height: 30px;

                width: 30px;
                height: 30px;

                content: counter(point); /* выводим значение переменной */
                counter-increment: point 1; /* увеличваем счетчик на 1 */
                text-align: center;

                color: #9ccbec;
                border: 2px solid #9ccbec;
                border-radius: 50%;
            }
        }
    }
}
