mixin article-content(data)
	.article-content
		h1 Всего одно средство заставит тебя забыть о целлюлите и растяжках!
		+social
		p Целлюлит, или «апельсиновая корочка», беспокоит большинство женщин. Из-за неправильного образа жизни целлюлит может появиться даже у подростков. Как избежать этого нежелательного явления, не прилагая значительных усилий
		img(src="http://placehold.it/625x275")
		blockquote.
			Эфирные масла входят в состав многих дорогих кремов от целлюлита. А всё потому, что они помогают расщеплять подкожные слои жира, не причиняя вреда нашему здоровью. Масло цитрусовых заслуженно занимает первое место в борьбе с целлюлитом и растяжками.
		h2 Эфирные масла от целлюлита
		p Эфирное масло апельсина улучшает кровообращение и обогащает кожу витамином С, который способствует ускорению обмена веществ и увлажнению. Поэтому массаж с применением этого масла гарантированно даст хороший результат в борьбе с целлюлитом и растяжками на коже. Это масло идеально подходит для всех типов кожи, тонизируя и увлажняя ее.
		img(src="http://placehold.it/625x275")
		ol
			li Эфирное масло грейпфрута поможет жирной коже. Это масло сужает поры, сглаживает неровности и делает кожу более привлекательной и свежей.
			li Способ применения эфирных масел прост. Достаточно добавить примерно 5 капель масла в одну столовую ложку любого крема — и антицеллюлитное средство готово! А если ты вместо крема возьмешь 1 ст. л. оливкового масла и 3–5 капель эфирного масла, эффект будет изумительный!
		p Втирай эту смесь круговыми движениями в течение 10 минут, и совсем скоро ты приятно удивишься результату.
		h2 Эфирное масло грейпфрута
		p Все цитрусовые эфирные масла делают кожу очень чувствительной к солнцу. Поэтому постарайся избегать их использования перед походом в солярий, на пляж или перед длительной прогулкой под летним солнцем.
		ul
			li Эфирные масла — дешевое средство, которое можно купить в любой аптеке. Если ты хочешь увидеть результат как можно быстрее, не стоит забывать о других рекомендациях, как избавиться от целлюлита. Немножко терпения, и у тебя всё получится!
			li Втирай эту смесь круговыми движениями в течение 10 минут, и совсем скоро ты приятно удивишься результату.
		h2 Обрати внимание
		p Все цитрусовые эфирные масла делают кожу очень чувствительной к солнцу. Поэтому постарайся избегать их использования перед походом в солярий, на пляж или перед длительной прогулкой под летним солнцем.<br>Эфирные масла — дешевое средство, которое можно купить в любой аптеке. Если ты хочешь увидеть результат как можно быстрее, не стоит забывать о других рекомендациях, как избавиться от целлюлита. Немножко терпения, и у тебя всё получится!
