.article-content
{
    h1
    {
        font-family: 'merriweather';
        font-size: 31px;
        font-weight: bold;
        @media screen and(max-width: 960px)
        {
            font-size: 20px;
        }
        &._purple
        {
            color: $light-purple;
        }
    }
    h3
    {
        font-size: 20px;
        font-weight: bold;

        margin-bottom: 21px;

        text-transform: uppercase;
        @media screen and(max-width: 960px)
        {
            font-size: 17px;
        }
        &._purple
        {
            color: $light-purple;
        }
    }
    p
    {
        font-family: 'merriweather';
        font-size: 15px;
        line-height: 24px;

        margin-bottom: 24px;

        color: $light-black;
        @media screen and(max-width: 960px)
        {
            font-size: 14px;
            line-height: 21px;
        }
    }
    img
    {
        @media screen and(max-width: 960px)
        {
            width: 100%;
            height: auto;
        }
    }
    p._blue-bg
    {
        font-family: 'merriweather';
        font-style: italic;

        position: relative;

        margin-bottom: 29px;
        padding: 26px 50px 20px;

        color: #6f9ec0;
        background-color: #eef3fb;
        &:before
        {
            position: absolute;
            top: 25px;
            left: 18px;

            content: '';

            @include bg($double-arrow);
        }
    }
    li
    {
        @media screen and(max-width: 960px)
        {
            font-size: 14px;
        }
    }
    .blue-marker
    {
        padding: 0;
        li
        {
            position: relative;

            margin-bottom: 30px;
            padding-left: 38px;
            &:before
            {
                position: absolute;
                top: 0;
                left: 0;

                content: '';

                @include bg($blue-arrow);
            }
        }
    }
    .number-marker
    {
        padding: 0;

        counter-reset: point; /* задаем переменную для счетчика */
        li
        {
            position: relative;

            margin-bottom: 30px;
            padding-left: 38px;
            &:last-child
            {
                margin-bottom: 0;
            }
            &:before
            {
                line-height: 25px;

                position: absolute;
                top: 0;
                left: 0;

                width: 26px;
                height: 26px;

                content: counter(point); /* выводим значение переменной */
                counter-increment: point 1; /* увеличваем счетчик на 1 */
                text-align: center;

                color: #9ccbec;
                border: 2px solid #9ccbec;
                border-radius: 50%;
            }
        }
    }
}
