.header-article {
	display: none;
	&._fixed {
		position: fixed;
		display: block;
		background-color: $white;
		border-bottom: 1px solid #eee;
		left: 0;
		right: 0;
		top: 0;
		z-index: 99;
	}
	&__wrapper {
		@extend .main;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 19px 20px 14px 20px;
	}
	&__logo {
		@include bg($header-logo);
	}	
	&__title {
		margin-bottom: 0;
		font-family: 'merriweather';
		font-weight: bold;
		margin-left: 28px;
	}
	&-button__wrapper {
		position: relative;
		&:after {
		    content: '';
		    border: 2px solid #ecabc3;
		    display: block;
		    right: -14px;
		    top: 50%;
		    margin: -14px 0 0 -19px;
		    border-right: none;
		    border-top: none;
		    border-width: 1px;
		    width: 28px;
		    height: 28px;
		    transform: rotate(223deg);
		    position: absolute;
	    }
	}
	&__button {
		font-size: 14px;
		text-decoration: none;
		border-right-width: 0!important;
	}
}