mixin header-article(data)
	.header-article
		.header-article__wrapper
			.header-article__logo
			.header-article__title.main-title._middle-title._purple Всего одно средство заставит тебя забыть о целлюлите и растяжках!
			.header-article-button__wrapper
				a(href="#" title="").button.header-article__button._purple._middle._text-center Следующая статья
