.header-article
{
    display: none;
    &__wrapper
    {
        display: flex;

        padding: 19px 20px 14px;

        @extend .main;
        justify-content: flex-start;
        align-items: center;
    }
    &__logo
    {
        @include bg($header-logo);
    }
    &__title
    {
        font-family: 'merriweather';
        font-weight: bold;

        width: 568px;
        margin-bottom: 0;
        margin-left: 28px;

        text-transform: none;
    }
    &__button-wrapper
    {
        position: relative;

        margin-left: 63px;
        &:after
        {
            position: absolute;
            top: 50%;
            right: -14px;

            display: block;

            width: 28px;
            height: 28px;
            margin-top: -14px;
            margin-left: -19px;

            content: '';
            transform: rotate(223deg);

            border: 2px solid #ecabc3;
            border-width: 1px;
            border-top: none;
            border-right: none;
        }
    }
    &__button
    {
        font-size: 14px;

        text-decoration: none;

        border-right-width: 0!important;
    }
    &._fixed
    {
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        left: 0;

        display: block;

        border-bottom: 1px solid #eee;
        background-color: $white;
        @media screen and(max-width: 960px)
        {
            display: none;
        }
    }
}
