mixin header-article(data)
	.header-article
		.header-article__wrapper
			a(href="#" title="").header-article__logo Mosmama.ru
			h1.header-article__title._purple Всего одно средство заставит тебя забыть о целлюлите и растяжках!
			a(href="#" title="").button.header-article__button Следующая статья
