.header-article {
    display: none;

    border-bottom: 1px solid #eee;
    background-color: $white;
    &__wrapper {
        display: flex;

        padding: 19px 20px 14px;

        align-items: center;
        @extend .main;
        justify-content: flex-start;
        @media screen and(max-width: 960px) {
            padding: 8px 10px;

            box-shadow: 0 0 10px rgba($black,.65);
        }
        @media screen and(max-width: 760px) {
            display: block;
        }
    }
    &__logo {
        @extend .header__logo;
        @media screen and(max-width: 960px) {
            display: none;
        }
    }
    &__title {
        width: 568px;
        margin-bottom: 0;
        margin-left: 28px;

        text-transform: none;

        font-family: "merriweather";
        font-weight: bold;

        @extend ._middle-title;
        @extend .main-title;
        @media screen and(max-width: 960px) {
            width: auto;
            margin-left: 0;
        }
        @media screen and(max-width: 760px) {
            width: auto;
            margin-bottom: 10px;
        }
    }
    &__button {
        position: relative;

        margin-left: 63px;

        text-decoration: none;

        font-size: 14px;

        @extend ._triangle;
        @extend ._purple;
        @extend ._text-center;
        @extend ._middle;
        &:after {
            position: absolute;
            top: 50%;
            right: -14px;

            display: block;

            width: 28px;
            height: 28px;
            margin-top: -14px;
            margin-left: -19px;

            content: "";
            transform: rotate(223deg);

            border: 2px solid #ecabc3;
            border-width: 1px;
            border-top: none;
            border-right: none;
            @media screen and(max-width: 960px) {
                display: none;
            }
            @media screen and(max-width: 760px) {
                display: block;
            }
        }
    }
    &._fixed {
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        left: 0;

        display: block;
    }
}
