mixin article-block-third(imagesize)
	.article-block-third
		.article-block-third__photo
			img(src="http://placehold.it/#{imagesize}" alt="")
		a(href="#" title="").article-block-third__title Что происходит на 4 недели беременности