mixin breadcrumbs(data)
	.breadcrumbs
		.breadcrumbs__category-wrapper
			a(href="#" title="").breadcrumbs__category Главная
			a(href="#" title="").breadcrumbs__category Новорожденный
			a(href="#" title="").breadcrumbs__category._current-item Течение болезни    	