.breadcrumbs
{
    margin-bottom: 23px;
    @media screen and(max-width: 960px)
    {
        display: table;

        margin: auto;
        padding-top: 15px;
    }
    &__wrapper
    {
        display: flex;

        justify-content: flex-start;
    }
    &__title
    {
        font-size: 38px;

        margin-top: 10px;
    }
    &__item
    {
        font-size: 12px;

        position: relative;

        margin-right: 26px;
        padding-left: 12px;

        text-decoration: none;
        text-transform: uppercase;

        color: $light-silver;

        @include transition;
        @media screen and(max-width: 760px)
        {
            margin-right: 3px;
        }
        @media screen and(max-width: 480px)
        {
            margin-right: 8px;
        }
        &:before
        {
            position: absolute;
            top: 4px;
            left: 0;

            content: '';

            @include bg($small-arrow);
        }
        &:hover
        {
            text-decoration: underline;
        }
    }
}
