mixin breadcrumbs(data)
	.breadcrumbs
		.breadcrumbs__wrapper
			a(href="#" title="").breadcrumbs__item Главная
			a(href="#" title="").breadcrumbs__item Новорожденный
			a(href="#" title="").breadcrumbs__item._current-item Течение болезни